
<div class="animate__animated animate__fadeIn animate__slow	1s">

<h3>Bucar por Região <small>{{ regiaoActiva | titlecase }}</small></h3>
<hr>


<h5>Selecione uma região </h5> 
    <!-- 
    [ngClass]="{
            'btn-primary': regiaoActiva === regiao,
            'btn-outline-primary': regiaoActiva !== regiao
        }" -->

<div class="row">
    <div class="col">
        <button *ngFor="let regiao of regioes"
                 [class]="getClassCss( regiao )"
                 (click)="activarRegiao( regiao )">
          {{ regiao | titlecase }}
        </button>
    </div>
</div>


<div *ngIf="paises.length > 0"
    class="row">
    <div class="col">

        <app-pais-tabela [paises]="paises"></app-pais-tabela>

    </div>
</div>

</div>